extends layout

block content
  .screen
    .divider
    .divider
    .divider
    block splash
    .divider
    .divider
    block sign
    block bottombar
  #about_screen.center.content
    .divider
    .divider
    block about
  #faq.center.content
    .divider
    block faq
  .divider
  .divider
  .divider
