doctype html
html
    head
      title Smile
      block stylesheet
      link(href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
      block nav-script

    body
      block content
      block footer
